.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem;
}

.buttonContainer input[type='file'] {
  display: none;
}

.buttonContainer button {
  font-size: 1rem;
}

.buttonContainer label {
  cursor: pointer;
}

.line {
  border: 2px dashed var(--color-border-subtle);
  /*margin: 1rem;*/
  width: 100%;
}

.confirm {
  padding: 1rem;
}
