.container {
  padding: 1rem;
}

.meta {
  line-height: 1rem;
  margin-bottom: 2rem;
}
.meta p {
  margin: 0;
}
.meta a {
  color: black;
  text-decoration: underline;
  cursor: pointer;
  font-family: var(--font-tilt-warp);
}

.leaderboardLink {
  font-size: 2.25rem;
  margin-bottom: 0.5rem;
}

.eventName {
  font-size: 2rem;
  font-weight: 700;
  margin: 0 0 1.75rem;
}
.draftHeader {
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 0 0 0;
}

.draftInstanceContainer {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: var(--font-body);
}
.draftInstanceContainer * {
  margin: 0.5rem 0;
}
.draftInstanceContainer a {
  /*font-weight: 100;*/
  font-family: var(--font-body);
}
.draftInstanceContainer h2 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

.draftContainer a {
  font-size: 1.5rem;
  /*font-weight: 400;*/
  color: black;
  cursor: pointer;
  /*font-family: var(--font-tilt-warp);*/
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.title h1 {
  font-size: 3rem;
}
.divider {
  border: 2px dashed black;
  margin: 2rem 0;
}
.div draftLink {
  margin-bottom: 0.5rem;
}
