.container {
  padding: 1rem;
}

.meta {
  line-height: 1rem;
}
.meta p {
  margin: 0;
}
.meta a {
  color: black;
  text-decoration: underline;
  cursor: pointer;
  font-family: var(--font-tilt-warp);
}

.leaderboardLink {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.draftResultsLink {
  font-size: 1.5rem;
}

.eventName {
  font-size: 2rem;
  font-weight: 700;
  margin: 0 0 1.75rem;
}
.draftHeader {
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 0;
}

.draftContainer a {
  font-size: 1.75rem;
  font-weight: 400;
  color: black;
  text-decoration: cursor;
  cursor: pointer;
  font-family: var(--font-tilt-warp);
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.title h1 {
  font-size: 3rem;
}
.divider {
  border: 2px dashed black;
  margin: 2rem 0;
}
.div draftLink {
  margin-bottom: 0.5rem;
}
